.Hero-Section{
    .swipe{
        writing-mode:vertical-lr;
        writing-mode:sideways-lr;
    }
    .inset{
        inset:0;
    }
    img{
        object-fit: cover;
    }
}

// @media (max-width: 992px) {
//   .content {
//     display: flex;
//     justify-content: end;
//     align-items: center;
//   }
// }