$prefix: 'Interia-';

$primary: #6D7D7D;
$black: #131616;
$white: #FFFFFF;
$dark: #212828;

$body-color: #FFFFFF;
$body-bg: #191D1D;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);